@{
    var data = Context.Session.GetString("cart");

    int coutCart = 0;
    if (data == null)
    {
        coutCart = 0;
    }
    else
    {
        var data2 = Context.Session.GetString("cart");
        List<CartItem> dataCart = JsonConvert.DeserializeObject<List<CartItem>>(data2);
        foreach (var item in dataCart)
        {
            coutCart += item.Quantity;
        }
    }

}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ecommerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brands" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="img-fluid" src="~/assets/images/logo.png" alt="Ayman" width="50" hieght="50">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main"
                        aria-controls="main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="main">
                    <ul class="navbar-nav mb-2 mb-lg-0 flex-grow">
                        <li class="nav-item">
                            <a class="nav-link text-dark pg-lg-3 active" aria-current="page" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark pg-lg-3" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="categories nav-link text-dark pg-lg-3 dropdown-toggle" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false" href="#">
                                Categories
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item text-dark" href="#">laptops</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-dark pg-lg-3" asp-area="" asp-controller="ContactUs" asp-action="ContactUs">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse d-inline-flex flex-row-reverse">
                    <ul class="navbar-nav mb-2 mb-lg-0 flex-grow">
                        <li class="nav-item">
                            <a class="nav-link text-dark pg-lg-3" asp-area="" asp-controller="Products" asp-action="ListCart">
                                <i class="fa-solid fa-cart-shopping"></i>
                                <span class="ms-2 badge rounded-pill bg-danger">
                                    @coutCart
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="site-footer sticky-bottom pt-5 pb-3 textt-white-50 text-center text-md-start">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="info">
                        <img src="~/assets/images/logo.png" alt="ayman-ali" />
                        <p class="mb-4">
                            Shop the product you need now
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="links">
                        <h5 class="text-light">Categories</h5>
                        <ul class="list-unstyled lh-lg">
                            <li>
                                <a class="" href="#home">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    Laptops
                                </a>
                            </li>
                            <li>
                                <a class="" href="#portfolio">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    Desktops
                                </a>
                            </li>
                            <li>
                                <a class="" href="#products">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    all-in-ones
                                </a>
                            </li>
                            <li>
                                <a class="" href="#services">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    two-in-ones
                                </a>
                            </li>
                            <li>
                                <a class="" href="#about-us">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    smartphones
                                </a>
                            </li>
                            <li>
                                <a class="" href="#about-us">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    smart tablets
                                </a>
                            </li>
                            <li>
                                <a class="" href="#about-us">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    smart watches
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-2">
                    <div class="links">
                        <h5 class="text-light">site map</h5>
                        <ul class="list-unstyled lh-lg">
                            <li>
                                <a class="" href="#home">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    Home
                                </a>
                            </li>
                            <li>
                                <a class="" href="#portfolio">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    Products
                                </a>
                            </li>
                            <li>
                                <a class="" href="#portfolio">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    Categories
                                </a>
                            </li>
                            <li>
                                <a class="" href="#products">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    contact
                                </a>
                            </li>
                            <li>
                                <a class="" href="#services">
                                    <span className="me-2">
                                        <i class="fa-solid fa-angle-right pe-2"></i>
                                    </span>
                                    cart
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="contact">
                        <h5 class="text-light">Contact Us</h5>
                        <a class="btn btn-primary main-btn w-100" href="">
                            <span className="me-2">
                                <i class="fa-solid fa-envelope"></i>
                            </span>
                            ayman4swd@gmail.com
                        </a>
                        <p class="lh-lg mb-3 mb5 mt-5">
                            Get in touch with us on social media
                        </p>
                        <ul class="d-flex mt-1 list-unstyled gap-3">
                            <li>
                                <a class="d-block text-light" href="https://www.facebook.com/aymanali000"
                                   title="Facebook">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a class="d-block text-light" href="https://www.linkedin.com/in/ayman-ali-849b81216/"
                                   title="Linked-in">
                                    <i class="fa-brands fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a class="d-block text-light" href="https://twitter.com/Ayman4swd" title="Twitter">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="d-block text-light" href="https://github.com/AymanAli00" title="Github">
                                    <i class="fa-brands fa-github"></i>
                                </a>
                            </li>
                            <li>
                                <a class="d-block text-light" href="#" title="Youtube">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="copyright text-center">
                <div>&copy; 2023 - Ecommerce - Ayman F. Ali | <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></div>
            </div>
        </div>

        <button class="btn btn-primary" id="goToTop-btn" title="GO To Top" onclick="backToTopEvent()">
            <i class="fa-solid fa-arrow-up"></i>
        </button>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
