<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ecommerce_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ecommerce_App.styles.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
</head>
<body id="body-pd">
    <div class="col-sm-10">
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div>
                    <a class="nav_logo" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fa-solid fa-bars"></i>
                        <span class="nav_logo-name">Ecommerce</span>
                    </a>
                    <div class="nav_list">
                        <a class="nav_link active" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-house"></i>
                            <span class="nav_name">Dashboard</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fa-solid fa-user"></i>
                            <span class="nav_name">Users</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="Category" asp-action="Index">
                            <i class="fa-solid fa-sliders"></i>
                            <span class="nav_name">Categories</span>
                        </a>
                        <a class="nav_link" asp-area="" asp-controller="Product" asp-action="Index">
                            <i class="fa-solid fa-store"></i>
                            <span class="nav_name">Product</span>
                        </a>
                    </div>
                </div>
                <div class="nav_list">
                    <a class="nav_link" asp-area="" asp-controller="" asp-action="Index">
                        <i class="fa-solid fa-gear"></i>
                        <span class="nav_name">Settings</span>
                    </a>
                    <a class="nav_link" asp-area="" asp-controller="" asp-action="Index">
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        <span class="nav_name">Sign out</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>

    <div class="dash_body container height-100">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - Ecommerce_App - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
