html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

:root {
    --main-dark: #19283f;
    --primary-color: #0d6efd;
    --primary-trans-color: hsla(216, 98%, 52%, 0.7);
    --section-color: #c8cfd1;
}

body {
}


#products {
    text-transform: capitalize;
}

.projects {
}

.projects .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    height: 150px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.projects .box::before {
    content: attr(data-work);
    position: absolute;
    background-color: var(--primary-trans-color);
    width: calc(100%);
    height: calc(100%);
    margin: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #fff;
    transition: 0.3s;
    font-size: 1.5rem;
    transform: translateX(-100%);
}

.projects .box:hover:before {
    transform: translateX(0);
}

.featured-products {
}

.featured-products .box {
    padding: 5px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    height: 350px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
    text-transform: capitalize;
}

.featured-products .box button {
    text-transform: capitalize;
}

.featured-products .box img {
    height: 175px;
}


.flex-view {
}

#products {
    text-transform: capitalize;
}


.itemSpecs .input-group,
.table .input-group {
    width: 150px;
}

.itemSpecs #items-quantity {
    outline: none;
    text-align: center;
}


.site-footer {
    background-color: var(--main-dark);
}

.site-footer {
    color: #fff;
}

.site-footer .copyright > span {
    color: var(--primary-color);
}

.site-footer .links {
    text-transform: capitalize;
}

.site-footer .links a {
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
}

.site-footer .links a:hover {
    text-decoration: underline;
}

.site-footer .contact ul svg {
    width: 20px;
    height: 20px;
}

.site-footer .info img {
    width: 100px;
    height: auto;
}


#goToTop-btn {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    cursor: pointer;
}

#billing-address{
    display: none;
}